<div class="d-flex justify-content-center">
    <form class="form-container">
        <div class="form-group">
            <label class="form-label" for="title">Titel</label>
            <input class="form-input" type="text" id="title" name="title">
        </div>

        <div class="form-group">
            <label class="form-label" for="question">Fragestellung</label>
            <textarea class="form-input quiz-element-textarea" type="textarea" rows="5" id="question" name="question"></textarea>
        </div>

        <div class="quiz-element-container">
            <p class="form-label">Antworten</p>
            <button class="btn btn-outline-primary" type="button" onclick="addAnswer()">Eine Antwort hinzufügen</span>
        </div>

        <div id="answer-container">

            <div class="quizzz-container">
                <div>
                    <a class="delete-answer"><i onclick="removeAnswer()" class="fa fa-solid fa-trash delete"></i></a>
                </div>

                <div class="form-group">
                    <label class="form-label" for="text">Antwort</label>
                    <input class="form-input" type="text" id="text" name="answers[][text]" style="width: 100%;"">
                </div>

                <div class="form-group d-flex flex-row">
                    <input class="form-checkbox" type="checkbox" id="correct-answer-0" name="answers[][isCorrect]"">
                    <label class="form-label" for="correct-answer-0">Ist richtige Antwort</label>
                </div>
            </div>

            <div class="quizzz-container">
                <div>
                    <a class="delete-answer"><i onclick="removeAnswer()" class="fa fa-solid fa-trash delete"></i></a>
                </div>

                <div class="form-group">
                    <label class="form-label" for="text">Antwort</label>
                    <input class="form-input" type="text" id="text" name="answers[][text]" style="width: 100%;"">
                </div>

                <div class="form-group d-flex flex-row">
                    <input class="form-checkbox" type="checkbox" id="correct-answer-1" name="answers[][isCorrect]"">
                    <label class="form-label" for="correct-answer-1">Ist richtige Antwort</label>
                </div>
            </div>

        </div>

        <div class="form-button-container">
            <button type="button" class="btn btn-warning btn-lg" onclick="postQuestion('<%= quiz.id %>')">Submit</button>
        </div>
    </form>
</div>