<div class="default-page">
    <section class="main">
    
        <div class="col d-flex flex-column">
            
            <div class="header">Question</div>

            <div class="header-info">
                <div class="name"><%= question.question %></div>
                <div class="icons">
                    <a href="/question/<%= question.id %>/edit"><i class="fas fa-pen edit"></i></a>
                    <a href="/question/<%= question.id %>/delete"><i class="fa fa-solid fa-trash delete"></i></a>
                </div>
            </div>

            <% question.answers.forEach(function(answer){ %>
                <div class="row d-flex quizzz-container">
                    <div class="col-sm-12 col-md-6 text-content category-content">
                        <div class="category-info">
                            <div class="name"><%= answer.text %></div>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>

    </section>

</div>