<div id="app">
    <div class="default-page">
        <section class="main category">

            <div class="row d-flex category-container">
                <div class="header">
                    Kategorie
                    <div class="header-info">
                        <div class="name">Alle Kategorien</div>
                        <div class="icons">
                            <i class="fa fa-solid fa-trash delete"></i>
                        </div>
                    </div>
                    <div class="add-new">
                        <a href="/category/new"><i class="fa fa-solid fa-plus"></i>Neue Kategorie erstellen</a>
                    </div>
                </div>
            </div>

            <% categories.forEach(function(category){ %>
                <category name='<%= category.name %>' description=<%=category.description %> clickUrl="kdmls" />
            <% }); %>
        </section>

    </div>
</div>

<script type="module">
    import Category from "/vue/Item.js"

    const { createApp } = Vue
    const app = createApp({
        data() {
            return {};
        }
    })
    app.component("category", Category)
    app.mount("#app")
</script>