<div id="signup">
    <div class="container-fluid pt-5 pb-5">
      <h1 class="text-center">Create an account</h1>
      <div style="max-width: 450px;" class="mx-auto" >
        <p class="text-center">Let's get started! Becoming a member is free and only takes a few minutes.</p>
        <hr/>
        <form action="/signup" method="POST">
          <div class="form-group">
            <label for="full-name">Full name</label>
            <input class="form-control" id="full-name" name="fullName" type="text"  placeholder="Sturgis P. Sturgeon" autocomplete="name" focus-first>
            <div class="invalid-feedback">Please enter your full name.</div>
          </div>
          <div class="form-group">
            <label for="email-address">Email address</label>
            <input class="form-control" id="emaila-address" name="emailAddress" type="email"  placeholder="sturgeon@example.com" autocomplete="email">
            <div class="invalid-feedback">Please enter a valid email address.</div>
          </div>
          <div class="form-group">
            <label for="password">Choose a password</label>
            <input class="form-control" id="password" name="password" type="password"  placeholder="••••••••" autocomplete="new-password">
            <div class="invalid-feedback">Please enter a password.</div>
          </div>
          <div class="form-group">
            <label for="confirm-password">Confirm password</label>
            <input class="form-control" id="confirm-password" name="confirmPassword" type="password"  placeholder="••••••••" autocomplete="new-password">
            <div class="invalid-feedback">Your password and confirmation do not match.</div>
          </div>
          <span>It looks like there's already an account with your email address. If you forgot your password, you can recover it <a href="password/forgot">here</a>.</span>
          <div class="form-group">
            <button type="submit" class="btn-dark btn-lg btn-block">Create account</button>
          </div>
        </ajax>
        <p class="text-center">Have an account? <a href="/login">Sign in</a></p>
      </div>
    </div>
  </div>