
footer, header {
    padding: 15px 15px 15px 15px;
    width: 100%;
}

.footer-container {
    padding: 20px;
    border-radius: 15px;
    width: 1000px;
    background: linear-gradient(94.09deg, #001D3D 26.94%, #013063 66.31%);
}

.quizzz {
    font-weight: bold;
    font-size: 26px;
    color: #B8C5D9;
    text-align: center;
}

.quizzz-desc {
    font-weight: normal ;
    font-size: 16px;
    color: #B8C5D9;
    text-align: center;
}

.social-media-icon {
    width: 50px;
}