header {
  color: #FFC300;
}

.header-container {
  width: 1000px;
  padding: 0px 25px;
  border-radius: 15px;
  background: linear-gradient(94.09deg, #001D3D 26.94%, #013063 66.31%);
}

.header-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
}

.company {
  margin-left: 10px;
  font-weight: bold;
}

img {
  height: 69px;
}

.header-menu {
  float: right;
  display: flex;
  justify-content: end;
  flex-grow: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

li {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  justify-content: center;
}

li a {
  text-align: center;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
  color: #FFC300;
}

li .login-btn {
  text-align: center;
  padding: 5px;
  background-color: #FFC300;
  color: #001D3D;
  margin-top: 3px;
  width: 69px;
}