<div id="app">
    <h1>Session id: <h1 style="color: red;">{{ sessionid }}</h1>
    </h1>
    <div v-if="isOwner" class="d-flex flex-row justify-content-center align-items-space-evenly">
        <a class="btn btn-danger btn-lg" href="">Quiz beenden</a>
        <div v-if="isNextEnabled">

            <button v-if="status !== 'ended' && sessionid !== ''" class="btn btn-secondary btn-lg"
                @click="nextQuestion">Nächste Frage</button>
            <button v-else-if="status === 'ended'" class="btn btn-secondary btn-lg" @click="nextQuestion">Quiz erneut
                started</button>
        </div>
    </div>
    <div v-else>
        <a class="btn btn-danger btn-lg" href="">Quiz verlassen</a>
        <h2 v-if="answered">Das Spiel fängt gleich an!</h2>
    </div>


    <question v-if="currentQuestion !== null" :sessionid="sessionid" :question="currentQuestion" :timer="timer">
    </question>

    <lobby v-else :status="status" :participants="participants" :sessionid="sessionid" :startedBy="startedBy"></lobby>
    <!-- <router-view :status="status" :participants="participants" :startedBy="startedBy"> -->
    <!-- </router-view> -->
</div>

<script type="module">

    const { createApp } = Vue

    import Lobby from "/vue/game/Lobby.js";
    import QuestionView from "/vue/game/QuestionView.js";

    // 5. Create and mount the root instance.
    const app = createApp(
        {
            data() {
                return {
                    participants: [],
                    status: 'creating',
                    isOwner: false,
                    sessionid: '',
                    currentQuestion: null,
                    timer: 0,
                    isNextEnabled: true
                }
            },
            mounted() {

                var ref = this
                ref.sessionid = location.pathname.split('/')[3]

                // Subscribe to game events
                io.socket.on(
                    'nextQuestion',
                    function (question) {
                        ref.currentQuestion = question.question
                        ref.timer = question.time / 1000
                        ref.isNextEnabled = false
                        console.log(question)
                    }
                )

                io.socket.on(
                    'participants',
                    function (participants) {
                        ref.participants = participants
                        ref.currentQuestion = null
                        ref.isNextEnabled = true
                    }
                )

                io.socket.on(
                    'state',
                    function (state) {
                        console.log(`Game status has changed: ` + state.owner)
                        ref.status = state.status
                        // if (state.owner)
                        // ref.isOwner = true
                        // else ref.isOwner = false
                    }
                )

                // Create session
                io.socket.post(
                    '/game/' + this.sessionid + '/join',
                    function (resData, jwRes) {
                        console.log(resData)
                        ref.isOwner = resData.isOwner
                    }
                )
            },
            methods: {
                nextQuestion: function () {
                    console.log(`Requisting next question...`)
                    io.socket.post('/game/' + this.sessionid + '/next');

                },
                stop: function () {
                    console.log("Ending game...")
                    io.socket.post(
                        '/game/' + this.sessionid + '/finish',
                        function () {
                            this.goBack()
                        });
                },
                leave: function () {
                    console.log("Ending game...")
                    io.socket.post(
                        '/game/' + this.sessionid + '/leave',
                        function () {
                            this.goBack()
                        });
                },
                goBack: function () {
                    window.location.href = origin;
                }
            }
        }
    );
    app.component("lobby", Lobby);
    app.component("question", QuestionView);
    app.mount('#app')
</script>