

<div>
    Juchei!

    <div>
        <form action="/quiz/start" method="post">
            <button class="btn btn-secondary secondary-button">RUUUUN</button>
        </form>
        <form action="/quiz/" method="post">
            <button class="btn btn-secondary secondary-button">RUUUUN</button>
        </form>
    </div>

    <div class="players">
        <% participants.forEach(function(participant){ %>
            <div class="">
                <%= participant.user.fullName %>
            </div>

        <% }); %>
    </div>


</div>