<!--
This is your default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->
<link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">


<div class="default-page">
  <div class="main">
    <div class="row">
      <div class="col-sm-12 col-md-6 text-content">
        <h2>Sehr wichtiger Abschnitt</h2>
        <div>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna 
          aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
          Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </div>
      </div>
      <div class="col-sm-12 col-md col-md-6">
        <form class="quizzz-container">
          <div class="info-text">
            <span>Do you already have a PIN?</span>
            <span>Enter it here!</span>
          </div>
          <div class="field">
            <input type="text" id="lname" name="lname">
          </div>
          <button class="btn btn-secondary">Take Quiz</button>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-6">
          <div class="quizzz-container chart">
            <h2>Your progress</h2>
            <img src="/images/progress.png">
          </div>
      </div>

      <div class="col-sm-12 col-md-6 text-content">
        <h2>Noch ein wichtiger Abschnitt</h2>
        <div>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna 
          aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
          Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </div>
      </div>
    </div>

  </div>
</div>