<div class="default-page">
    
    <section class="row">
        <div class="col-sm-12 col-md-6 order-sm-2 order-2 quizzz-container">
          <div class="quizzz-container chart">
            <h2>Dein Fortschritt</h2>
            <p>
                Mit jedem beantworteten Quiz erhältst du Punkte, die deinen Fortschritt widerspiegeln. Je mehr Fragen du richtig beantwortest, desto höher steigst du auf der Punkteleiter. Auf diese Weise kannst du deinen Wissensstand kontinuierlich verbessern und dich mit anderen Teilnehmern vergleichen.
            </p>
          </div>
        </div>
    
        <div class="col-sm-12 col-md-6 text-content order-sm-1 order-1">
          <h2>Erstelle knifflige Quizzzes</h2>
          <p>
            Sei kreativ bei der Auswahl der Themen! Ob es um Allgemeinwissen, Film und Fernsehen, Musik, Geschichte oder sogar spezifische Nischenthemen geht, es gibt keine Grenzen für deine Ideen. Lass dich von deinem Interesse und Fachwissen leiten und erstelle ein Quiz, das andere in deiner gewählten Themenwelt herausfordert.
          </p>
        </div>
    </section>

    <section class="row">
        <div class="col-sm-12 col-md-6 order-sm-2 order-2">
            <h2>Gebe dem Quiz eine Bewertung</h2>
            <p>
                Deine Bewertungen helfen anderen Benutzern bei der Auswahl der Quizze, die sie spielen möchten. Wenn du ein Quiz besonders herausfordernd, gut recherchiert oder unterhaltsam findest, kannst du dies durch eine positive Bewertung zum Ausdruck bringen. Auf diese Weise können die besten Quizze von der Community erkannt und empfohlen werden.
            </p>
        </div>
    
        <div class="col-sm-12 col-md-6 text-content order-sm-1 order-1 quizzz-container">
          <h2>Erstellt die Quizzz gemeinsam</h2>
          <p>
            Ihr habt die Möglichkeit gemeinsam an einem Quiz zu arbeiten. Ob mit Freunden, Familie oder Kollegen - ihr könnt eure Köpfe zusammenstecken, um ein fesselndes Quiz zu erstellen, das andere herausfordert und unterhält.
          </p>
        </div>
    </section>

</div>