<link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
<script href="/assets/js/quiz/new.js"></script>

<div>
    <div class="col d-flex justify-content-center">
        <form class="form-container" id="questions-container" action="/quiz" method="post">
            <div class="form-group">
                <label class="form-label" for="name">Quiznamen</label>
                <input class="form-input" type="text" id="name" name="name">
            </div>

            <div class="form-group">
                <label class="form-label" for="description">Bescreibung</label>
                <input class="form-input" type="text" id="description" name="description">
            </div>

            <div class="form-group">
                <label class="col-form-label-lg">Kategorie</label>
                <select class="form-select form-select" name="category">
                    <% categories.forEach(function(category){ %>
                        <option value="<%= category.id %>">
                            <%= category.name %>
                        </option>
                        <% }); %>
                </select>
            </div>


            <div class="form-button-container">
                <button type="submit" class="btn btn-warning btn-lg">
                    Submit
                </button>
            </div>

            <!-- <div class="d-flex row">
                <p class="form-label">Fragen</p>
                <button class="btn btn-outline-primary" type="button" onclick="addQuestion()">Eine Frage hinzufügen</span>
            </div>

            <div class="form-group">
                <label class="form-label" for="title">Titel</label>
                <input class="form-input" type="text" id="title" name="title">
            </div>  

            <div class="form-group">
                <label class="form-label" for="question">Fragestellung</label>
                <input class="form-input" type="text" id="question" name="question">
            </div>

            <div>
                <div class="quiz-element-container">
                    <p class="form-label">Antworten</p>
                    <button class="btn btn-outline-primary" type="button" onclick="addAnswer()">Eine Antwort hinzufügen</span>
                </div>

                <div class="quizzz-container">
                    <div class="form-group">
                        <label class="form-label" for="title">Antwort</label>
                        <input class="form-input" type="text" id="title" name="title">
                    </div>

                    <div class="form-group d-flex row">
                        <label class="form-label" for="correct-answer">Ist rechtige Antwort</label>
                        <input class="form-input" type="checkbox" id="correct-answer" name="isCorrectAnswer">
                    </div>
                </div>
            </div> -->
        </form>
    </div>
</div>