<div class="default-page">
    <section class="main">
    
        <div class="col d-flex flex-column">
            <div class="quiz-element">Quiz</div>

            <div class="quiz-element-container">
                <div class="quiz-element-name"><%= quiz.name %></div>
                <div class="d-flex flex-row">
                    <a href="/quiz/<%= quiz.id %>/edit"><i class="fas fa-pen edit"></i></a>
                    <a href="/quiz/<%= quiz.id %>/delete"><i class="fa fa-solid fa-trash delete"></i></a>
                </div>
            </div>
            <div class="quiz-element-description">
                <%= quiz.description %>
            </div>
        </div>

    </section>

</div>